.cv {
  text-align: center;
  background-color: rgb(0, 0, 223);
  color: #e2e2e2;
  width: 100%;
  position: relative;
  padding: 10px;
}

.cv-header {
  font-size: 36px;
  font-weight: 600;
  padding: 20px;
}

.gen-info {
  display: flex;
  align-items: center;
  font-size: 18px;
  justify-content: center;
  gap: 10px;
}
